* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #f2f6f9;
}

.header {
    background: #11a4e3;
    color: white;
    text-align: center;
    padding: 30px 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header h1 {
    margin: 0;
    padding-bottom: 15px;
}

.header p {
    margin-top: 8px;
    font-size: 14px;
}

.menu {
    background: #e7f5ff;
    padding: 14px 24px;
    text-align: center;
    border-radius: 14px;
    margin: 40px auto;
    width: fit-content;
}

.menu-item {
    display: inline-block;
    margin: 0 18px;
    padding: 8px 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 12px;
    transition: 
        transform 0.3s ease,
        background 0.3s ease,
        color 0.3s ease;
}

.menu-item:hover {
    background: #0b8bdc;
    color: #fff;
    transform: translateY(-4px);
}

.home:hover ~ .about,
.home:hover ~ .doctor,
.home:hover ~ .service {
    transform: translateX(10px);
}

.home:has(+ .about:hover) {
    transform: translateX(-10px);
}

.about:hover ~ .doctor,
.about:hover ~ .service {
    transform: translateX(10px);
}

.home:has(+ .about + .doctor:hover),
.about:has(+ .doctor:hover) {
    transform: translateX(-10px);
}

.doctor:hover ~ .service {
    transform: translateX(10px);
}

.home:has(+ .about + .doctor + .service:hover),
.about:has(+ .doctor + .service:hover),
.doctor:has(+ .service:hover) {
    transform: translateX(-10px);
}

.content {
    width: 90%;
    margin: auto;
}

.box {
    padding: 25px;
    border-radius: 16px;
    margin-bottom: 30px;
}

.box h2 {
    margin-top: 0;
}

.white {
    background: white;
}

.blue {
    background: #eaffff;
    border-left: 4px solid #11a4e3;
}

.blue ul {
    padding-left: 20px;
}

.blue li {
    margin-bottom: 8px;
}

/* FOOTER */
.footer {
    background: #0e1a2b;
    color: white;
    text-align: center;
    padding: 18px 0;
    margin-top: 40px;
}

