* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #f2f6f9;
}

.header {
    background: #11a4e3;
    color: white;
    text-align: center;
    padding: 30px 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header h1 {
    margin: 0;
    padding-bottom: 15px;
}

.header p {
    margin-top: 8px;
    font-size: 14px;
}

.content {
    width: 90%;
    margin: auto;
}

.box {
    padding: 25px;
    border-radius: 16px;
    margin-bottom: 30px;
}

.box h2 {
    margin-top: 0;
}

.white {
    background: white;
}

.blue {
    background: #eaffff;
    border-left: 4px solid #11a4e3;
}

.blue ul {
    padding-left: 20px;
}

.blue li {
    margin-bottom: 8px;
}

.footer {
    background: #0e1a2b;
    color: white;
    text-align: center;
    padding: 18px 0;
    margin-top: 40px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #f5f7fa;
}

.menu {
    background-color: #E0F2FE;
    text-align: center;
    padding: 12px;
}

.menu a {
    margin: 0 12px;
    text-decoration: none;
    color: #0284C7;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #0284C7;
    border-radius: 5px;
    padding: 8px;
    color: white;
    margin: 0 18px;
}
